@page "/products"

<div class="d-flex flex-column w-100 h-100 pt-1">
    <button class="btn btn-outline-light btn-back ms-1" @onclick='OnBrowserBack'><i class="fa-solid fa-arrow-left"></i></button>
    <div class="d-flex justify-content-center text-center align-middle pb-2">
        <h3 class="fw-bold">@BillImportCode</h3>
    </div>
    <div class="container">
        <div class="d-flex justify-content-between flex-wrap mt-2">
            <div class="d-flex align-items-center me-3 mb-2">
                <div class="color-box label-empty me-2"></div>
                <span class="fw-semibold">Chưa nhập</span>
            </div>
            <div class="d-flex align-items-center me-3 mb-2">
                <div class="color-box label-in-process me-2"></div>   
                <span class="fw-semibold">Chưa đủ</span>
            </div>
            <div class="d-flex align-items-center me-3 mb-2">
                <div class="color-box label-finished me-2"></div>
                <span class="fw-semibold">Đã đủ</span>
            </div>
            <div class="d-flex align-items-center mb-2">
                <div class="color-box label-unknown me-2"></div>
                <span class="fw-semibold">Không xác định</span>
            </div>
        </div>
    </div>
    <div class="overflow-auto pb-3 px-2">
        <table class="table table-bordered border-primary mb-0" style="table-layout:fixed">
            <colgroup>
                <col style="width:150px">
                <col style="width:150px">
                <col style="width:200px">
                <col style="width:200px">
                <col style="width:200px">
                <col style="width:200px">
                <col style="width:200px">
                <col style="width:200px">
            </colgroup>
            <thead class="table-light text-center align-middle sticky-top">
                <tr>
                    <th class="text-center">Mã nội bộ</th>
                    <th class="text-center">Mã hàng</th>
                    <th class="text-center">Tên sản phẩm</th>
                    <th class="text-center">SL</th>
                    <th class="text-center">ĐVT</th>
                    <th class="text-center">Mã theo dự án</th>
                    <th class="text-center">Mã dự án/Công ty</th>
                    <th class="text-center">Tên dự án</th>
                </tr>
            </thead>
            <tbody>
                @for (int i = 0; i < products.Count; i++)
                {
                    var item = products[i];
                    <tr @onclick='() => OnRowClicked(item)' class='@GetRowClass(productSerialStatuses[i])'>
                        <td class="text-start align-middle">@item.ProductNewCode</td>
                        <td class="text-start align-middle">@item.ProductCode</td>
                        <td class="text-start align-middle">@item.ProductName</td>
                        <td class="text-center align-middle">@item.Qty</td>
                        <td class="text-center align-middle">@item.UnitName</td>
                        <td class="text-start align-middle">@item.ProjectCode</td>
                        <td class="text-start align-middle">@item.ProjectCodeText</td>
                        <td class="text-start align-middle">@item.ProjectName</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>